In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Raw-205 FIRST OUTDOORS-01_29_2021.csv")
df.head()

,Timezone,Datetime,AQI US,AQI CN,PM2.5 (ug/m3),PM10 (ug/m3),CO2 (ppm),Temperature (Celsius),Temperature (Fahrenheit),Humidity (%),Outdoor PM2.5 (ug/m3),HCHO (ppb),TVOC (ppb)
0,America/New_York UTC-05:00,2021-01-29 20:00:00,1357,491,1799,2000,411.0,-5.0,23.0,43.0,NaN,NaN,NaN
1,America/New_York UTC-05:00,2021-01-29 19:00:00,1357,491,1799,2000,412.0,-5.0,23.0,42.0,NaN,NaN,NaN
2,America/New_York UTC-05:00,2021-01-29 18:00:00,1357,491,1799,2000,409.0,-4.0,24.8,41.0,NaN,NaN,NaN
3,America/New_York UTC-05:00,2021-01-29 17:00:00,1357,491,1799,2000,408.0,-4.0,24.8,39.0,NaN,NaN,NaN
4,America/New_York UTC-05:00,2021-01-29 16:00:00,1357,491,1799,2000,407.0,-2.0,28.4,36.0,NaN,NaN,NaN

In [4]:
df.to_json("OUTDOORS-01_29_2021.json")